/*********************/
/** jRating CSS **/
/*********************/

body {
  margin: 15px;
  font-family: Arial;
  font-size: 13px
  }
  a img {
  border: 0
  }
  .datasSent, .serverResponse {
  margin-top: 20px;
  width: 470px;
  height: 73px;
  border: 1px solid #F0F0F0;
  background-color: #F8F8F8;
  padding: 10px;
  float: left;
  margin-right: 10px
  }
  .datasSent {
  width: 200px;
  position: fixed;
  left: 680px;
  top: 0
  }
  .serverResponse {
  position: fixed;
  left: 680px;
  top: 100px
  }
  .datasSent p, .serverResponse p {
  font-style: italic;
  font-size: 12px
  }
  .exemple {
  margin-top: 15px;
  }
  .clr {
  clear: both
  }
  pre {
  margin: 0;
  padding: 0
  }
  .notice {
  background-color: #F4F4F4;
  color: #666;
  border: 1px solid #CECECE;
  padding: 10px;
  font-weight: bold;
  width: 600px;
  font-size: 12px;
  margin-top: 10px
  }